*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: brown;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    list-style: none;
}
a{
    text-decoration: none;
    color: antiquewhite;
}
p{
    color: blueviolet;
}
.contenu{
    display: flex;
}
.principal{
    flex: 2;
}
.sidebar{
    flex: 1;
}